# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# ML artifacts
ml/artifacts/*
!ml/artifacts/.gitkeep

# OS
.DS_Store

# Streamlit
.streamlit/
