# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/

# Data
ml/data/raw/*
ml/data/processed/*
!ml/data/raw/.gitkeep
!ml/data/processed/.gitkeep

# ML artifacts
ml/artifacts/*
!ml/artifacts/.gitkeep

# OS
.DS_Store

# Streamlit
.streamlit/
frontend/public/parks-hero/
